{% extends 'ElephantlyWebBundle:Administration:layout.html.twig' %}

{% block view %}
    <div class="container">
        <div class="row">
            <div class="column"> pouet pouet</div>
        </div>
    </div>
{% endblock %}
