.notif{
    padding: 2rem;
    display: flex;
    background-color: @info;
    &.error{
        background-color: @error;
    }
    &.valid{
        background-color: @valid;
    }
    color: @greyWhite;
    position: relative;
    margin-bottom: 2rem;
    &:hover{
        color: @greyWhite;
    }
    &:after{
        content: 'x';
        top: 2rem;
        right: 2rem;
        position: absolute;
    }
}
#notif:target{
    display:none;
}
/* Larger than mobile screen */
@media (min-width: 40.0rem) {
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {

}
